$fontColor: #000000;
$headerColor: #ce1b1b;
$containerBorder: #000000;
$containerBg: rgba(238, 237, 237, 0.7);
$headerBorder: #000000;
$searchBg: none;
$searchBorder: #000000;
$searchFocusOutline: #5a3131;
$wrapperDayBg: #1a2e44;
$wrapperNightBg: #b6c7d9;
$sun: #ffd02f;
$moon: #d5dee8;
$mountainBrightness: brightness(70%);
$wrapper2Bg: rgb(24, 54, 81);;
$suggestionsContainerBg: antiquewhite;
$suggestionBg: #17cf5b;
$nightModeBg: #17cf5b;
$nightModeActive: antiquewhite;